<!doctype html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nova senha</title>
  <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
  <div class="login-wrapper">
    <div class="login-box">
      <div class="login-box--header">
        <h1>Nova senha</h1>
      </div>
      <div class="login-box--content">
        <form th:action="@{/change-password/__${token}__}" autocomplete="off" method="post" >
          <p th:each="err : ${#fields.errors('*')}" th:text="${err}" style="text-align: center; margin-bottom: 10px; color: red;" >
            Senha não confere
          </p>
          <label for="password">
            <span>Sua nova senha</span>
            <input id="password" name="password" type="password" required>
          </label>
          <label for="password-confirm">
            <span>Confirme a senha</span>
            <input id="password-confirm" type="password" required>
          </label>
          <div class="submit">
            <button disabled id="set-new-password">
              Definir nova senha
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript" th:src="@{/js/new-password.js}"></script>
</body>
</html>