<!doctype html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Esqueci a senha</title>
  <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
  <div class="login-wrapper">
    <div class="login-box">
      <div class="login-box--header">
        <h1>Esqueci a senha</h1>
      </div>
      <div class="login-box--content">
        <form th:action="@{/forget-password}" autocomplete="off" method="post">
          <label for="email">
            <span>E-mail</span>
            <input id="email" name="email" type="email" placeholder="ex.: joao.silva@alganews.com" required>
          </label>
          <div class="submit">
            <button type="submit" id="reset-password">
              Solicitar nova senha
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>